.InputWrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-size: 16px;
  color: black;
}

.Input {
  padding: 12px;
  border-radius: 15px;
  outline: none;
}

.Label {
  font-size: 14px;
  margin-bottom: 4px;
}
